.App {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left, .right {
  width: 45%;
}

.timer {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  width: 300px;
  border-radius: 10px ;
  background-color:aliceblue;
  font-size: larger;
}

form {
  display: flex;
  flex-direction: column;
}

input, button {
  margin: 5px 0;
}

form input{
  width: 300px;
  height: 50px;
}

form button{
  width: 310px;
  border-radius: 5px;
}
