.App {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left, .right {
  width: 45%;
}

.left{
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex-direction: column;
}

.timer {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  width: 300px;
  border-radius: 10px ;
  background-color:rgb(205, 208, 209);
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
}

input, button {
  margin: 5px 0;
}

form input{
  width: 300px;
  height: 50px;
}

form button{
  width: 310px;
  border-radius: 5px;
  padding: 10px;
}

#btn-close{
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 0.1px;
  font-size: 30px;
}

#remainingTime{
  font-size: 30px;
}